p{
    background-color: aquamarine;
    color: red;
}

a{
    background-color: aquamarine;
    color: red;
}
div{
    background-color: rgb(127, 255, 146);
    color: red;
}
span{
    background-color: rgb(255, 127, 200);
    color: rgb(45, 12, 189);
}